<div class='container'>
    
        <h3>Forum</h3>
    <img src= 'img/postForum.svg' rel='post_to_forum' height ='100' width='150'> 
        <br><br> 
<form method = "GET" action=""  >
    <label>Find List by Username: </label>
    <input type = 'text' name='username'>
    <input type = "submit" class="btn btn-primary" name="findLists" onclick ='displaymessage()' >
    <label>Find List by University: </label>
    <input type = 'text' name='university'>
    <input type = "submit" class="btn btn-primary" name="findUniversity" onclick ='displaymessage()' >
    </br>
    <!--
    <label>Sort By Date?:(y or leave emtpy) </label>
    <input type = 'text' name='sort'>
    <input type='submit'name='dateSort' onclick = 'displaymessage()'>

    !-->
</form>
 

    <div class='container-fluid'>

    <div class='row align-self-start'>
        <div class='col-6'>
        <div class='list-group '>
            {{#each list}}
            <a href='/list/{{this.slug}}' class='list-group-item clearfix list-group-item-action flex-column align-items-start'>
                <div class ='d-flex w-100 justify-content-between'>
                    <h5 class='mb-1'> {{this.list_name}} </h5>
                    <small> {{this.date}}</small>
                </div>
                <p class='mb-1'>{{this.header}}</p>
                <p class='mb-1'>{{this.username}}</p>
                
            </a>
           
            
      <!--<li><a href="{{this.url}}">{{this.page_name}}</a> - [<a href="/page/{{this.slug}}">details</a>] </li> !-->  
            {{/each}}
        </div>
        </div>
          
    </div>
</div>
</div>

<div class='placeholder'></div>

