<div class='container'>
    <h1> PAGE UNDER CONSTRUCTION - COME BACK LATER </h1>
        <h3>Forum</h3>
    <img src= 'img/postForum.svg' rel='post_to_forum' height ='200' width='250'> 
        <br><br> 
<form method = "GET" action=""  >
    <label>Find List by Username: </label>
    <input type = 'text' name='username'>
    <input type = "submit" name="findLists" onclick ='displaymessage()' >
    
</form>
 
    <div class='row align-self-start'>
        <div class='col-6'>
        <div class='list-group '>
            {{#each list}}
            <a href='/list/{{this.slug}}' class='list-group-item clearfix list-group-item-action flex-column align-items-start'>
                <div class ='d-flex w-100 justify-content-between'>
                    <h5 class='mb-1'> {{this.list_name}} </h5>
                    <small> Date TBD</small>
                </div>
                <p class='mb-1'>{{this.header}}</p>
                <p class='mb-1'>{{this.username}}</p>
                
            </a>
           
            
      <!--<li><a href="{{this.url}}">{{this.page_name}}</a> - [<a href="/page/{{this.slug}}">details</a>] </li> !-->  
            {{/each}}
        </div>
        </div>
          
    </div>
</div>

<!-- <script  type="text/javascript" src="javascripts/main.js"></script>!-->