<h1>Welcome {{username}}! </h1>


<div class ='container '>
    <div class='row align-self-start'>
        <div class='col-6'>
        <div class='list-group '>
            {{#each list}}
            <a href='/list/{{this.slug}}' class='list-group-item clearfix list-group-item-action flex-column align-items-start'>
                <div class ='d-flex w-100 justify-content-between'>
                    <h5 class='mb-1'> {{this.list_name}} </h5>
                    <small> {{this.date}}</small>
                </div>
                <p class='mb-1'>{{this.header}}</p>
                
            </a>
           
            
      <!--<li><a href="{{this.url}}">{{this.page_name}}</a> - [<a href="/page/{{this.slug}}">details</a>] </li> !-->  
            {{/each}}
        </div>
        </div>
        <div class='col-4'>
             <img src = "/img/kangaroo.jpg" alt='kangaroo' width="250" height='300'/>
        </div>


</div>

</div>
<div class='container'>
    <div class='row'>
        <div class='col'>
            <label for="colorpicker">Pick A New Color:</label>
             <input type="color" id="colorpicker" value="#0000ff">
             <input type='button' id='changeTheme' value='Change Theme Color'>
        </div>
    </div>
</div>

    
  

<small>
<a href='https://www.freepik.com/vectors/cartoon'>Cartoon vector created by brgfx - www.freepik.com</a>
</small>

