<h3>{{page_name}}</h3>

<div>

       <div class='indivPage'>
       
          
          <h5> List: {{list_name}}</h5>
           URL: <a href="{{url}}">{{slug}}</a>  </br>
           </br> 
            <span class=".d-inline-flex">
           <p>
            Notes: <br>
            <div class='container-md' style='color:lightseagreen '>
              <h5>{{notes}}</h5> 
            </div>
           
            </p>
            </span>
            Created On: {{date}}
       </div>

  
</div>