<h3>{{page_name}}</h3>

<div>

       <div class='indivPage'>
       
          
          <h5> List: {{list_name}}</h5>
           URL: <a href="{{url}}">{{slug}}</a>  </br>
           </br>  
           <p>
            Notes: <br>
            <div class='info' style='background-color:lightblue; '>
              <h5>{{notes}}</h5> 
            </div>
           
            </p>
            Created On: {{date}}
       </div>

  
</div>