<h3>{{page_name}}</h3>

<div>

       <div class='indivPage'>
       
          
          <h5> List: {{list_name}}</h5>
           URL: <a href="{{url}}">{{slug}}</a>  </br>
           </br>  
           <p>
            Notes: <br>
           <span class="border border-warning">{{notes}}</span> 
            </p>
            Created On: {{date}}
       </div>

  
</div>