<h3>{{page_name}}</h3>

<div>

       <div class='indivPage'>
         <p>
           List: {{list_name}}
           Shared:{{shared}}
           URL: <a href="{{url}}"></a> {{slug}} </br>
           </br>
            Notes: <br>
           <span class="border border-warning">{{notes}}</span> 
            </p>
            Created On: {{date}}
       </div>

  
</div>