<h3>{{title}}</h3>

<div>

   <!-- {{#each allpages}}!-->
       <div class='indivPage'>
           Page Name: {{page_name}}
           List: {{list_name}}
           Shared:{{shared}}
           URL: <a href="{{url}}">{{url}}</a> </br>
           <!--Posted by:<a href="/user/{{userAuthor}}">{{userAuthor}}</a> !--> </br>
            Notes: <br>
            {{notes}}
       </div>

  <!--  {{/each}} !-->
  
</div>