<!--Create button to edit account !--> 
<div class='container'>

    <div class='row'>
        <div class='col-4'>
            <ion-icon name="person-circle-outline"></ion-icon>
        </div>
        <div class='col-9'>

            Profile<br>
            <h2>{{username}}</h2>
        </div>
        <div class='col-4'>
            University: {{university}} <br>
            email: {{email}}
        </div>
        <div class='col-4'>
            <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" id='editProfile' data-toggle="modal" data-target="#editProfile-modal">
  Edit Profile
</button>





<div class="modal fade" id="editProfile-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editProfileLabel">Edit Profile Aspects</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="POST" action="">
      <div class="modal-body">
         
        <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-sm">University</span>
            </div>
            <input type="text" class="form-control" id="university" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
        </div>

        <div class="input-group">
            <div class="input-group-prepend">
             <span class="input-group-text">Topics of Interest</span>
            </div>
            <textarea class="form-control" id="topics" aria-label="With textarea"></textarea>
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <input type="submit" value="Save Changes"> 
        </form>
      </div>
    </div>
  </div>
</div>
        </div>
     
        <div class='col-6'>
               <br>
        </div>
    </div>
 </div>
 <div class='container'>
    <div class='row'>
        <div class='col-4'>
            <p class="h1">My Lists:</p>
        </div>
          
    </div>
 
    
    <div class='row align-self-start'>
        <div class='col-6'>
        <div class='list-group '>
            {{#each list}}
            <a href='/list/{{this.slug}}' class='list-group-item clearfix list-group-item-action flex-column align-items-start'>
                <div class ='d-flex w-100 justify-content-between'>
                    <h5 class='mb-1'> {{this.list_name}} </h5>
                    <small> Date TBD</small>
                </div>
                <p class='mb-1'>{{this.header}}</p>
                
            </a>
           
            
      <!--<li><a href="{{this.url}}">{{this.page_name}}</a> - [<a href="/page/{{this.slug}}">details</a>] </li> !-->  
            {{/each}}
        </div>
        </div>
          
    </div>

</div>
</div> 


         <div class='container'>
            <div class='row'>
        <div class='col-4'>
            <p class="h3">Create a new List or Page </p>
            <a class="btn btn-primary" href="/create/page" role="button">Create Page</a>
            <a class="btn btn-info" href="/create/list" role="button"> Create List</a>
        </div>





