<!--Create button to edit account !--> 
<link rel="stylesheet" type="text/css" href='css/theme.css'>
           <h3> Profile</h3><br>
            <h2>{{username}}</h2>

<div class='container'>
    <div class='row'>
        <div class='col'>
            <h5>University:</h5> <p>{{university}}</p> </br>
             <h5>Email:</h5> <p>{{email}}</p></br>
             <h5>Topics:</h5> </br>
            
            {{#each topics}}
             <p style='color:mediumslateblue'> {{this}}</p></br>
             {{/each}}

            
            </h5>
        </div>
</div>
        <div class='col'>
            <!-- Button trigger modal !-->
<a href="profile/editProfile" class="btn btn-primary" role='button' >
  Edit Profile
</a>




     
        <div class='col-6'>
               <br>
        </div>
    </div>
 </div>
 <div class='container'>
    <div class='row'>
        <div class='col-4'>
            <p class="h4">My Lists:</p>
        </div>
          
    </div>
 
    
    <div class='row align-self-start'>
        <div class='col-6'>
        <div class='list-group '>
            {{#each list}}
            <a href='/list/{{this.slug}}' class='list-group-item clearfix list-group-item-action flex-column align-items-start'>
                <div class ='d-flex w-100 justify-content-between'>
                    <h5 class='mb-1'> {{this.list_name}} </h5>
                    <small> {{this.date}}</small>
                </div>
                <p class='mb-1'>{{this.header}}</p>
                
            </a>
        
            {{/each}}
        </div>
        </div>
          
    </div>

</div>
</div> 
</br>

         <div class='container'>
            <div class='row'>
        <div class='col-4'>
           
        </div>
    </div>
    </div>
    </div>

<div class='container'>
         
   
 </div>
