<!--Create button to edit account !--> 
<div class='container'>

    <div class='row'>
        <div class='col-9'>
            Profile<br>
            <h2>{{username}}</h2>
        </div>
        <div class='col-4'>
            University: {{university}} <br>
            email: {{email}}
        </div>
        <div class='col-6'>
               <br>
        </div>
    </div>
 </div>
 <div class='container'>
    <div class='row'>
        <div class='col-4'>
            <p class="h1">My Lists: </p>
        </div>
          
    </div>
 
    
    <div class='row align-self-start'>
        <div class='col-6'>
        <div class='list-group '>
            {{#each list}}
            <a href='/list/{{this.slug}}' class='list-group-item clearfix list-group-item-action flex-column align-items-start'>
                <div class ='d-flex w-100 justify-content-between'>
                    <h5 class='mb-1'> {{this.list_name}} </h5>
                    <small> Date TBD</small>
                </div>
                <p class='mb-1'>{{this.header}}</p>
                
            </a>
           
            
      <!--<li><a href="{{this.url}}">{{this.page_name}}</a> - [<a href="/page/{{this.slug}}">details</a>] </li> !-->  
            {{/each}}
        </div>
        </div>
</div>
</div> 
<!--
<ul>
    {{#each articlesList}}
        <li><a href="{{this.url}}">{{this.title}}</a> </li>
    {{/each}}
</ul> !--> 
<!--
<div class = 'profile'>
    <form method = 'post'>
        <div class = 'row'>
            <div class = 'profile-pic'>
              
                <div class='file btn btn-sm btn-warning'>
                    Select Profile Picture 
                    <input type = 'file' name ='profilePic'/>
                </div>
            </div>
            <div class='col-md-6'>
                <div class='profile-head'>
                    <h3> {{username}}</h3>
                    <h3>{{university}}</h3>
                </div>
                <div class='col-md-2'>
                    <input type='submit' class='edit-profile-btn' name = 'Edit profile' value='Edit Profile'/>

                </div>

            </div>
            <div class= 'row'>
                <div class='col-md-4'>
                    <div class='profile-kangaroolist'>
                        <p>Kangaroo Lists</p>
                        
                    </div>
                </div>
                <div class='col-md-8'>
                    
                </div>
            </div>
        </div>
    </form>
</div>
!-->